<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>회원가입</title>
  </head>
  <body>
    <div id="wrap" class="vh100">
      <form action="{% url 'question' %}" method="POST" name="signup_form" id="signup_form">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="signup-page">
          <div class="page-wr on">
            <p class="title">당신의 이름은?</p>
            <div class="login">
                <input type="text" name="username" id="username">
            </div>
          </div>
          <div class="page-wr">
            <p class="title">당신만의 비밀번호를 입력하세요.</p>
            <div class="login">
                <input type="text" name="password" id="password">
                <input type="submit" name="submit_password" value="submit">
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
