<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=750" />
        <title>연애 세포 테스트</title>

        <meta property='og:title' content='연애 세포 테스트'>
        <meta property='og:url' content='https://lovecelltest.cafe24.com/'>
        <meta property='og:type' content='website'>
        <meta property='og:image' content='https://lovecelltest.cafe24.com/public/img/opengraph.jpg'>
        <meta property='og:site_name' content='연애 세포 테스트'>
        <meta property='og:description' content='과연 내 연애 세포는 살아있을까?'>
        <meta name='description' content='과연 내 연애 세포는 살아있을까?'>
        <meta name='keywords' content='과연 내 연애 세포는 살아있을까?'>
        <meta name='author' content='연애 세포 테스트'>
        <link rel='canonical' href='https://lovecelltest.cafe24.com/'>

        <!-- <link rel="stylesheet" href="https://lovecelltest.picka.app/public/css/font.css" />
        <link rel="stylesheet" href="https://lovecelltest.picka.app/public/css/common.css" />
        <link rel="stylesheet" href="https://lovecelltest.picka.app/public/css/style.css" /> -->
    </head>
    <body>
        <div id="wrap" class="vh100">
            <div id="header">
                <div class="type_01 on"></div>
                <div class="type_02">
                    <div class="pulse"></div>
                    <div class="pulse-fast"></div>
                </div>
            </div>
            <div id="intro-page" class="on">
                <div class="page-wr">
                    <div class="btn">
                        <p>시작하기</p>
                        <span>지금까지 <span>237393</span>명이 참여했어요</span>
                    </div>
                </div>
            </div>
            <form method="post" name="form" id="form" action="result/index">
                <div id="test-page">
                    <div class="page-wr on">
                        <p class="question">격정 로맨스 콘텐츠를 보며 드는 생각은?</p>
                        <div class="answer">
                            <input type="radio" name="Q1" id="Q1_01" value="x" />
                            <label for="Q1_01">
                                <img src="https://lovecelltest.picka.app/public/img/profile_01.png" alt="" />
                                <span>"에이, 너무 비현실적인 거 아냐?"</span>
                            </label>
                            <input type="radio" name="Q1" id="Q1_02" value="o" />
                            <label for="Q1_02">
                                <img src="https://lovecelltest.picka.app/public/img/profile_02.png" alt="" />
                                <span>"너무 설레잖아~!" 심장이 반응한다</span>
                            </label>
                        </div>
                    </div>
                    <div class="page-wr">
                        <p class="question">나만 빼고 주위 사람들이 다 연애를 시작한다면?</p>
                        <div class="answer">
                            <input type="radio" name="Q2" id="Q2_01" value="x" />
                            <label for="Q2_01">
                                <img src="https://lovecelltest.picka.app/public/img/profile_03.png" alt="" />
                                <span>"커플 지옥🤬" 짜증이 치밀어 오른다</span>
                            </label>
                            <input type="radio" name="Q2" id="Q2_02" value="o" />
                            <label for="Q2_02">
                                <img src="https://lovecelltest.picka.app/public/img/profile_02.png" alt="" />
                                <span>"잘됐다! 축하해!👏🏻"응원해준다</span>
                            </label>
                        </div>
                    </div>
                    <div class="page-wr">
                        <p class="question">친하지 않은 상대가 나에게 잘해준다면?</p>
                        <div class="answer">
                            <input type="radio" name="Q3" id="Q3_01" value="o" />
                            <label for="Q3_01">
                                <img src="https://lovecelltest.picka.app/public/img/profile_04.png" alt="" />
                                <span>"완전 좋은데?" 마음의 문을 활짝 연다</span>
                            </label>
                            <input type="radio" name="Q3" id="Q3_02" value="x" />
                            <label for="Q3_02">
                                <img src="https://lovecelltest.picka.app/public/img/profile_05.png" alt="" />
                                <span>"이유 없는 호의는 없다!" 의심부터 한다</span>
                            </label>
                        </div>
                    </div>
                    <div class="page-wr">
                        <p class="question">소개팅을 해준다는 친구!</p>
                        <div class="answer">
                            <input type="radio" name="Q4" id="Q4_01" value="o" />
                            <label for="Q4_01">
                                <img src="https://lovecelltest.picka.app/public/img/profile_06.png" alt="" />
                                <span>"어떤 사람일까?🌝" 상대를 상상해본다</span>
                            </label>
                            <input type="radio" name="Q4" id="Q4_02" value="x" />
                            <label for="Q4_02">
                                <img src="https://lovecelltest.picka.app/public/img/profile_07.png" alt="" />
                                <span>"귀찮은데.. 요즘 바쁜데.." 거절 사유를 먼저 떠올린다</span>
                            </label>
                        </div>
                    </div>
                    <div class="page-wr">
                        <p class="question">소개팅 상대의 연락</p>
                        <div class="answer">
                            <input type="radio" name="Q5" id="Q5_01" value="o" />
                            <label for="Q5_01">
                                <img src="https://lovecelltest.picka.app/public/img/profile_01.png" alt="" />
                                <span>상대 반응에 맞춰 성의껏 답장한다</span>
                            </label>
                            <input type="radio" name="Q5" id="Q5_02" value="x" />
                            <label for="Q5_02">
                                <img src="https://lovecelltest.picka.app/public/img/profile_03.png" alt="" />
                                <span>(귀찮..) 점점 답장 텀이 길어진다</span>
                            </label>
                        </div>
                    </div>
                    <div class="page-wr">
                        <p class="question">썸타는 상대와 영화를 보던 중, 자연스레 손이 닿았다!</p>
                        <div class="answer">
                            <input type="radio" name="Q6" id="Q6_01" value="o" />
                            <label for="Q6_01">
                                <img src="https://lovecelltest.picka.app/public/img/profile_06.png" alt="" />
                                <span>음흉한 미소를 숨기며 자연스레 손을 잡는다</span>
                            </label>
                            <input type="radio" name="Q6" id="Q6_02" value="x" />
                            <label for="Q6_02">
                                <img src="https://lovecelltest.picka.app/public/img/profile_08.png" alt="" />
                                <span>화들짝 놀라며 손을 거둔다</span>
                            </label>
                        </div>
                    </div>
                    <div class="page-wr">
                        <p class="question">연애의 시작! 뇌리를 스친 생각은?</p>
                        <div class="answer">
                            <input type="radio" name="Q7" id="Q7_01" value="x" />
                            <label for="Q7_01">
                                <img src="https://lovecelltest.picka.app/public/img/profile_07.png" alt="" />
                                <span>"만약에 헤어지면..." 이별 걱정부터 한다</span>
                            </label>
                            <input type="radio" name="Q7" id="Q7_02" value="o" />
                            <label for="Q7_02">
                                <img src="https://lovecelltest.picka.app/public/img/profile_04.png" alt="" />
                                <span>"결혼할 수 있을깡?" 앞서 나간다</span>
                            </label>
                        </div>
                    </div>
                    <div class="page-wr">
                        <p class="question">바쁜 일과 중, 연인에게서 계속 톡이 도착한다면?</p>
                        <div class="answer">
                            <input type="radio" name="Q8" id="Q8_01" value="o" />
                            <label for="Q8_01">
                                <img src="https://lovecelltest.picka.app/public/img/profile_01.png" alt="" />
                                <span>"이것만 빨리 끝내고 바로 답장해야지!"</span>
                            </label>
                            <input type="radio" name="Q8" id="Q8_02" value="x" />
                            <label for="Q8_02">
                                <img src="https://lovecelltest.picka.app/public/img/profile_02.png" alt="" />
                                <span>"아놔 귀찮아^ㅡㅠ"</span>
                            </label>
                        </div>
                    </div>
                    <div class="page-wr">
                        <p class="question">연인의 주접에 대한 나의 반응은?</p>
                        <div class="answer">
                            <input type="radio" name="Q9" id="Q9_01" value="x" />
                            <label for="Q9_01">
                                <img src="https://lovecelltest.picka.app/public/img/profile_01.png" alt="" />
                                <span>'제발..그만..😑 ' 못 견딘다</span>
                            </label>
                            <input type="radio" name="Q9" id="Q9_02" value="o" />
                            <label for="Q9_02">
                                <img src="https://lovecelltest.picka.app/public/img/profile_02.png" alt="" />
                                <span>은근히 주접을 즐긴다</span>
                            </label>
                        </div>
                    </div>
                    <div class="page-wr calc">
                        <p class="question">시도 때도 없이 만나자는 연인</p>
                        <div class="answer">
                            <input type="radio" name="Q10" id="Q10_01" value="o" />
                            <label for="Q10_01">
                                <img src="https://lovecelltest.picka.app/public/img/profile_09.png" alt="" />
                                <span>"너무 좋아! 맨날 봐도 맨날 좋아^ㅇ^"</span>
                            </label>
                            <input type="radio" name="Q10" id="Q10_02" value="x" />
                            <label for="Q10_02">
                                <img src="https://lovecelltest.picka.app/public/img/profile_03.png" alt="" />
                                <span>"제발 나 좀 내버려 둬. 난 가끔 혼자 있고 싶다고.."</span>
                            </label>
                        </div>
                    </div>
                    <p class="paging"><span>1</span>/10</p>
                </div>
                <input type="text" name="type" id="type" />
            </form>
            <div id="calc-page">
                <div class="page-wr">
                    <div class="pulse-fast"></div>
                </div>
            </div>
            <div id="footer">
                <div class="type_01 on"></div>
                <div class="type_02"></div>
            </div>
        </div>
        <script src="https://lovecelltest.picka.app/public/lib/jquery-3.5.1.min.js"></script>
        <script src="https://lovecelltest.picka.app/public/lib/jquery-circle-progress.min.js"></script>
        <script src="https://lovecelltest.picka.app/public/lib/jquery-ui.js"></script>
        <script src="https://lovecelltest.picka.app/public/js/license.js"></script>
        <script src="https://lovecelltest.picka.app/public/js/main.js"></script>
    </body>
</html>
