<!doctype html>
<html lang="ko">
  <head>
  <meta charset="utf-8">
  <style>
    img{
    position:relative;
   }
    button.next{
    position: absolute; 
    border: "0"; 
    top:550px;
    left:880px;
    background: none;
    }
    
  </style>
    <title>운명의 문</title>
  </head>
  <body>
          <img src="C:\Users\osp\로그인.png" alt="My Image">
  </body>
  <button type="button" class="next" onclick="window.open('카테고리.html')" id="img_btn">
    <img  src="C:\Users\osp\버튼.png" alt="버튼">
      </button>
</html>