<!doctype html>
<html lang="ko">
  <head>
  <meta charset="utf-8">
  <style>
    img{
    position:relative;
   }

    button.next{
    position: absolute; 
    border: "0"; 
    top:550px;
    left:880px;
    background: none;
    }
    text{
    position: absolute;  
    top:550px;
    left:880px;
    }
    form{
    position: absolute;  
    top:850px;
    left:880px;
    }
  </style>
    <title>운명의 문</title>
  </head>
  <body>
   <img src="C:\Users\osp\비번.png" alt="My Image">
    <button type="button" class="next" onclick="window.open('로그인.html')" id="img_btn">
   <img  src="C:\Users\osp\버튼.png" alt="버튼"
         type="submit" value="전송">
          </button>
   <form>
        <input type="password" name="password">
   </form>
  </body>
</html>