<!doctype html>
<html lang="ko">
  <head>
  <meta charset="utf-8">
  <style>
    img{
    position:relative;
   }

    button.next{
    position: absolute; 
    border: "0"; 
    top:550px;
    left:880px;
    background: none;
    }
    form{
    position: absolute;  
    top:850px;
    left:880px;
    }
  </style>
    <title>운명의 문</title>
  </head>
  <body>
   <img src="C:\Users\osp\아이디.png" alt="My Image">
    <button type="button" class="next" id="img_btn">
   <img  src="C:\Users\osp\버튼.png" onclick="window.open('비번.html')" alt="버튼"
         type="submit" value="전송">
  </button>
  <form>
    <input type="text" name="username"><br/>
  </form>
  </body>
</html>