<!doctype html>
<html lang="ko">
  <head>
  <meta charset="utf-8">
  <style>
    img{
    position:relative;
   }
   button.next{
    position: absolute; 
    border: "0"; 
    top:680px;
    left:880px;
    background: none;
    }
  form{
    position: absolute;  
    top:580px;
    left:880px;
    }
    </style>
    <title>운명의 문</title>
  </head>
  <body>
          <img src="C:\Users\osp\질문.png" alt="My Image">
  </body>
  <button type="button" class="next" onclick="window.open('답변1.html')"id="img_btn">
    <img  src="C:\Users\osp\버튼.png" alt="버튼"
          type="submit" value="전송">
   </button>
  <form>
    <input type="text" name="username"><br/>
  </form>
</html>