<!doctype html>
<html lang="ko">
  <head>
     <meta charset="utf-8">
      <style>
        img{
        position:relative;
       }

        button.next{
        position: absolute; 
        border: "0"; 
        top:550px;
        left:880px;
        background: none;
        }

        button.st{
        position: absolute; 
        border: "0"; 
        top:800px;
        left:925px;
        background: none;
        }
        button.su{
        position: absolute; 
        border: "0"; 
        top:1000px;
        left:900px;
        background: none;
        }
      </style>
    <title>운명의 문</title>
  </head>
  <body>
    <img src="C:\Users\osp\홈.png" alt="bg">
   
    <button type="button" class="next" id="img_btn">
            <img  src="C:\Users\osp\버튼.png" alt="버튼">
    </button>
   
    <button type="button" class="st" onclick="window.open('아이디.html')" id5="img_btn">
      <img  src="C:\Users\osp\시작.png" alt="버튼">
    </button>
    <button type="button" class="su" onclick="window.open('아이디.html')" id="img_btn">
      <img  src="C:\Users\osp\처음.png" alt="버튼">
    </button>
  </body>
</html>